/* header */
.header_style{
    width: 100%;
    height: 80px;
    top: 0;
    background-color: lightskyblue;
}

.section_style{
    height: auto;
}

.menu_style{
    position: relative;
    float: left;
    top: 26%;
    margin-left: 3%;
    vertical-align: middle;
    font-size: 25px;
}