/* font */
@font-face {
  font-family: 'Nanum Gothic';
  src: url(../assets/fonts/NanumGothic.eot);
  src: local(※), url(../assets/fonts/NanumGothic.woff) format('woff');
}



/* logo */
.logo_style{
  max-width: 500px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}



/* tip */
.tip_ex{
  background-color: rgb(255, 233, 72);
  border-radius: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  height: 30px;
  font-size: 20px;
}
.tip_in{
  background-color: white;
  border-radius: 15px;
  font-size: 15px;
  font-family: '나눔고딕', 'Nanum Gothic', Nanum Gothic;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 2%;
}



/* search */
#make_inline{
  display: inline-block;
}
.search_ex{
  border: 5px solid rgb(184, 218, 78);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 450px;
  text-align: center;
}
.search_in{
  text-align: center;
  border: 0;
  max-width: 300px;
}
/*make reverse triangle*/




/* current location */
.circle1{
  display: flex;
  background-color: rgb(232, 255, 142);
  width:200px;
  height:200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border: 0;
  outline: 0;
}
.circle2{
  display: flex;
  margin: auto;
  background-color: white;
  width:180px;
  height:180px;
  border-radius: 100px;
}
.circle3{
  display: flex;
  margin: auto;
  background-color: rgb(232, 255, 142);
  width: 170px;
  height: 170px;
  border-radius: 100px;
}
.circle4{
  margin: auto;
  background-color: rgb(189, 213, 93);
  width: 135px;
  height: 135px;
  border-radius: 100px;
}
.circle_content{
  vertical-align: middle;
  text-align: center;
  font-family: '나눔고딕', 'Nanum Gothic', Nanum Gothic;
  font: z;
  color: white;
  height: 100%;
  padding-top: 30px;
}